$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// COLORS
$clr-black: #151515;
$clr-green: #4EE1A0;
$clr-darkgrey: #242424;
$clr-grey: #D9D9D9;
$clr-white: #FFFFFF;




// TYPOGRAPHY TOKENS
$font-primary: 'Space Grotesk', sans-serif;

$fw-medium: 500;
$fw-bold: 700;

$fs-heading-xl: 88px;
$fs-heading-l: 48px;
$fs-heading-m: 24px;
$fs-body-l: 18px;

$lh-heading-xl: 88px;
$lh-heading-l: 56px;
$lh-heading-m: 32px;
$lh-body-l: 28px;

$ls-heading-xl: -2.5px;
$ls-heading-l: -1.5px;