@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.contact {
  background-color: t.$color-background-secondary;
  padding: t.$space-xl t.$space-sm;

  background-image: url('../../img/mob/pattern-rings.svg');
  background-repeat: no-repeat;
  background-position: left -120px top 260px;

  &__container {
    text-align: center;
  }

  &__title {
    font-size: t.$fs-heading-l;
    line-height: t.$lh-heading-l;
    margin-bottom: t.$space-md;
  }

  &__text {
    color: t.$color-text-secondary;
    max-width: 45ch;
    margin: 0 auto t.$space-lg;
  }

  &__form {
    max-width: 500px;
    margin: 0 auto;
  }

  &__divider {
    height: 1px;
    background: t.$color-text-secondary;
    margin: t.$space-xl 0;
    opacity: 0.3;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: t.$space-md;
  }
}
