.footer {
  text-align: center;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: $bp-desktop) {
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title form"
      "text  form";
    gap: 4rem;
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
  }

  .footer__title {
    grid-area: title;
  }

  .footer__text {
    grid-area: text;
    margin: 0;
  }

  .form {
    grid-area: form;
    margin: 0;
  }
}
