.footer {
  text-align: center;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: $bp-desktop) {
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: start;
    gap: 4rem;
    max-width: 1100px;
    margin: 0 auto;
  }

  .footer__text {
    margin: 0;
  }

  .form {
    margin: 0; // ya no centrado en desktop
  }
}