@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.header {
  padding-top: t.$space-lg;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: t.$space-md;
  }


}

@include m.breakpoint(tablet) {
  .header {
    padding: t.$space-lg 0;
    position: relative;
    z-index: 3;

    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0;
    }

  }
}

@include m.breakpoint(desktop) {
  .header {

    .container {
      padding-right: 0;
    }

    .social {
      margin-right: 140px;
    }
  }
}