@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.header {
  padding: t.$space-lg 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: t.$space-md;
  }

  &__logo {
    font-size: t.$fs-heading-m;
    font-weight: t.$fw-bold;
  }

  &__social ul {
    display: flex;
    gap: t.$space-md;
    list-style: none;
    padding: 0;
  }
}

@include m.breakpoint(tablet) {
  .header {
    padding: t.$space-lg 0;

    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0;
    }

    &__social ul {
      gap: t.$space-lg;
    }
  }
}
