@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.card {
  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;
  }

  &__title {
    margin-top: t.$space-md;
    font-size: t.$fs-heading-m;
    font-weight: t.$fw-bold;
  }

  &__tech {
    margin-top: t.$space-xs;
    font-size: t.$fs-body-l;
    color: t.$color-text-secondary;
  }
}

@include m.breakpoint(tablet) {
  .card {
    &__title {
      font-size: t.$fs-heading-m;
    }
  }
}
