@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.form-group {
  position: relative;
  margin-bottom: t.$space-lg;
  text-align: left;
}

input,
textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid t.$color-border;
  padding: t.$space-sm 0;
  color: t.$color-text-primary;
  font-size: t.$fs-body-l;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid t.$color-accent;
}

.form-error {
  display: none;
  position: absolute;
  right: 0;
  bottom: -18px;
  font-size: 12px;
  color: t.$color-error;
}

/* Error state */
.form-group.error input,
.form-group.error textarea {
  border-bottom: 1px solid t.$color-error;
}

.form-group.error .form-error {
  display: block;
}
