@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.hero {
  position: relative;
  padding: t.$space-xl 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__image-wrapper {
    margin-bottom: t.$space-lg;
  }

  &__image {
    width: 100%;
    max-width: 250px;
  }

  &__title {
    font-size: 40px; // override mobile
    line-height: 1.1;
    letter-spacing: -1px;

    span {
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 4px;
        background: t.$color-primary;
      }
    }
  }

  &__text {
    margin-top: t.$space-md;
    max-width: 34ch;
  }

  .btn {
    margin-top: t.$space-lg;
  }
}

@include m.breakpoint(tablet) {
  .hero {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    &__image-wrapper {
      order: 2;
      margin-bottom: 0;
    }

    &__image {
      max-width: 350px;
    }

    &__content {
      order: 1;
      max-width: 55%;
    }

    &__title {
      font-size: 56px;
    }
  }
}

@include m.breakpoint(desktop) {
  .hero {
    &__title {
      font-size: t.$fs-heading-xl;
      line-height: t.$lh-heading-xl;
      letter-spacing: t.$ls-heading-xl;
    }

    &__image {
      max-width: 450px;
    }
  }
}
