@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.hero {
  padding: t.$space-lg t.$space-sm;

  &__title {
    font-size: t.$fs-heading-xl;
    line-height: t.$lh-heading-xl;
    letter-spacing: t.$ls-heading-xl;
  }

  &__text {
    margin-top: t.$space-md;
    font-size: t.$fs-body-l;
    line-height: t.$lh-body-l;
    color: t.$color-text-secondary;
  }
}

@include m.breakpoint(tablet) {
  .hero {
    padding: t.$space-xl t.$space-lg;
  }
}
