@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.hero {
  position: relative;
  z-index: 1;
  overflow-x: clip;

  background-image: url('../../img/mob/pattern-rings.png');
  background-repeat: no-repeat;
  background-position: left 0px top 0px;

  /* ===== IMAGEN ===== */

  &__image-wrapper {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transform: translateY(-35%);
    z-index: 1;
    pointer-events: none;
  }

  &__image {
    max-width: 250px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  /* ===== CONTENIDO ===== */

  .container {
    position: relative;
    z-index: 2; //
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1px;
    padding-top: 250px;
  }

  &__text {
    margin-top: t.$space-md;
    max-width: 34ch;
  }

  .btn {
    margin-top: t.$space-lg;
    margin-bottom: t.$space-xl;
  }

  /* ===== OVAL ===== */

  &::after {
    content: "";
    position: absolute;
    width: 129px;
    height: 129px;
    background-image: url('../../img/mob/Oval.png');
    background-repeat: no-repeat;
    background-size: contain;

    right: 0;
    transform: translateX(50%);
    top: 120px;

    z-index: 0;
    pointer-events: none;
  }
}


/* ================= TABLET ================= */

@include m.breakpoint(tablet) {
  .hero {
    min-height: 600px;
    

    background-image: url('../../img/tab/pattern-rings.png');
    background-position: left 0px top 10px;

    .container {
      align-items: flex-start;
      text-align: left;
      padding-top: t.$space-xl;
    }

    &__content {
      max-width: 445px;
    }

    &__title {
      padding-top: 0;
      font-size: 56px;
    }

    /* ocultar imagen mobile */
    &__image-wrapper {
      display: none;
    }

    &::after {
      right: 0;
      transform: translateX(50%);
      top: 350px;
    }
  }
}


/* ================= DESKTOP ================= */

@include m.breakpoint(desktop) {
  .hero {
    min-height: 720px;

    background-image: url('../../img/des/pattern-rings-xl.png');
    background-position: left 0px top 60px;

    &::after {
      width: 200px;
      height: 200px;

      background-image: url('../../img/des/Oval.png');

      right: 35%;
      top: 420px;

      z-index: 0;
    }

    &__content {
      max-width: 635px;
      padding-top: t.$space-xl;
    }

    &__title {
      font-size: t.$fs-heading-xl;
      line-height: t.$lh-heading-xl;
      letter-spacing: t.$ls-heading-xl;
    }
  }
}
