.hero {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;

  &__title {
    font-size: 2.4rem;
    line-height: 1.2;

    span {
      color: $clr-green;
    }
  }

  &__text {
    font-size: 1.6rem;
    color: $clr-grey;
    max-width: 32ch;
    margin: 0 auto;
  }

  &__cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 1px solid $clr-green;
    color: $clr-green;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $fw-medium;
    transition: 0.3s;

    &:hover {
      background-color: $clr-green;
      color: $clr-black;
    }
  }

  &__image-wrapper {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
    display: block;
    border-radius: 50%;
  }
}