@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.projects {
  padding: t.$space-xl t.$space-sm;

  /* ---------- HEADER (TITLE + BTN INLINE ALWAYS) ---------- */
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: t.$space-md;
  }

  &__title {
    margin: 0;
  }

  /* ---------- GRID ---------- */
  &__grid {
    margin-top: t.$space-lg;
    display: grid;
    gap: t.$space-lg;
  }
}

/* ================= TABLET ================= */

@include m.breakpoint(tablet) {
  .projects {
    padding: t.$space-xl t.$space-lg;

    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* ================= DESKTOP ================= */

@include m.breakpoint(desktop) {
  .projects {
    padding: t.$space-xl t.$space-xl;
  }
}
