@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.skills {
  padding: t.$space-xl 0;

  .container {
    display: grid;
    gap: t.$space-xl;
    text-align: center;
    justify-items: center;
  }

  &__title {
    font-size: t.$fs-heading-l;
    font-weight: t.$fw-bold;
  }

  &__experience {
    font-size: t.$fs-body-l;
    color: t.$color-text-secondary;
  }
}

/* ================= TABLET ================= */

@include m.breakpoint(tablet) {
  .skills {
    .container {
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
      justify-items: start;
    }
  }
}

/* ================= DESKTOP ================= */

@include m.breakpoint(desktop) {
  .skills {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
