@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.skills {
  padding: t.$space-xl 0;

  background-image: url('../../img/tab/pattern-rings-right.svg');
  background-repeat: no-repeat;
  background-position: right 0px bottom 0px;

  .container {
    display: grid;
    gap: t.$space-xl;
    text-align: center;
    justify-items: center;
  }

  &__title {
    font-size: t.$fs-heading-l;
    font-weight: t.$fw-bold;
    margin-top: t.$space-md;
  }

  &__experience {
    font-size: t.$fs-body-l;
    color: t.$color-text-secondary;
  }
}

/* ================= TABLET ================= */

@include m.breakpoint(tablet) {
  .skills {

 
    .container {
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
      justify-items: start;
    }
  }
}

/* ================= DESKTOP ================= */

@include m.breakpoint(desktop) {
  .skills {

    background-image: url('../../img/des/pattern-rings_right.png');
    background-repeat: no-repeat;
    background-position: right 0px bottom 0px;

    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
