@use '../abstracts/tokens' as t;

.social {

  &__list {
    display: flex;
    gap: t.$space-md;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: inline-block;
    transition: t.$transition-base;
  }

  &__link img {
    display: block;
  }

  &__link:hover {
    filter: brightness(0) saturate(100%) invert(76%) sepia(44%) saturate(473%) hue-rotate(98deg) brightness(96%) contrast(93%);
  }
}
