@use '../abstracts' as a;

@forward 'animations';
@forward 'reset';
@forward 'typography';

body {
  background-color: a.$color-background-primary;
  color: a.$color-text-primary;
  font-family: a.$font-primary;
  font-weight: a.$fw-medium;
}
